<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="x-icon" href="./images/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>WCE CLUBS | A portal for all the clubs of WCE</title>
</head>

<style>
    .d-flex a {
        text-decoration: none;
        color: white;
    }

    

</style>

<body>
    <div class="wrapper" id="wrap">

        <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#wrap">
                    <img src="./images/favicon.jpeg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> WCE CLUBS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Events</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Recent
                    </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="./reservations">Reservations</a></li>
                                <li><a class="dropdown-item" href="#">Activites</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Updates</a></li>
                            </ul>
                        </li>
                        <!-- <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                  </li> -->
                    </ul>
                    <form class="d-flex" role="search">
                        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
                        <button class="btn btn-outline-success" type="submit"><a href="./login">Login</a></button>
                    </form>
                </div>
            </div>
        </nav>

        <div id="carouselExampleAutoplaying carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="height: 92vh;overflow-y: hidden;">
                <div class="carousel-item active">
                    <img src="./images/acses.jpeg" class="d-block w-100" alt="ACSES" style=" object-fit: cover;">
                </div>
                <div class="carousel-item">
                    <img src="./images/eesa.jpeg" class="d-block w-100" alt="EESA" style=" object-fit:fill;">
                </div>
                <div class="carousel-item">
                    <img src="./images/pace.jpeg" class="d-block w-100" alt="PACE" style=" scale: 1; object-fit:cover;">
                </div>
                <div class="carousel-item">
                    <img src="./images/acses.jpeg" class="d-block w-100" alt="GDSC" style=" scale: 1; object-fit:cover;">
                </div>
                <div class="carousel-item">
                    <img src="./images/acses.jpeg" class="d-block w-100" alt="IEEE" style=" scale: 1; object-fit:cover;">
                </div>
                <div class="carousel-item">
                    <img src="./images/acses.jpeg" class="d-block w-100" alt="ACM" style=" scale: 1; object-fit:cover;">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="prompt">
            {{!-- {{prompt}} --}}
            <h1>YOU HAVE BEEN LOGGED IN SUCCESSFULLY AS SIR</h1>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>